
.hero{
  width: 100%;;
}

.hero-section {
  margin-top: 180px;
  position: relative;
  width: 100%;
  height: 550px;  
} 

.hero-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-slide.active {
  opacity: 1;
}

.hero-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  padding: 1rem 1.5rem;
  text-align: center;
}

.hero-caption h2 {
  margin-bottom: .4rem;
  font-size: 1.8rem;
}

.hero-caption p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.message {
  position: fixed;
  top: 20px;
  right: 2%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.out-of-stock-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  font-size: 0.8rem;
  padding: 5px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.hero-caption-below {
  text-align: center;
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
}
.product h1 {
  margin-top: 10px;
}
@media (max-width: 600px) {
  .hero-section {
    height: 300px;
    margin-top: 150px;
  }
  .hero-caption h2 {
    font-size: 1.2rem;
  }
  .hero-caption p {
    font-size: 0.9rem;
  }
  .product {
   margin-top: 10px;
  }
}
@media (prefers-color-scheme: dark) {
 .hero-caption-below {
  text-align: center;
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50 !important; /* force visible */
  background: #fff;   /* ensure no dark background */
}

}

